/**
 * Probeer vooral niet te veel te kijken naar dit ultieme voorbeeld van
 * "beunen"... 
 *
 * @author Beun&Haas BV
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE and Edge */
body {
    -ms-overflow-style: none;
} 

/*****************************************************************************
 * Fonts
 ****************************************************************************/
* {
    font-family: 'Open Sans', sans-serif;
}

/*****************************************************************************
 * Colors
 ****************************************************************************/
.color-deeppink {
    background-color: deeppink;
}

.color-navy {
    background-color: navy;
}

.color-deepskyblue {
    background-color: deepskyblue;
}

.color-black {
    background-color: white;
    color: black;
}

/*****************************************************************************
 * Home page - full boxes
 ****************************************************************************/
.full-container {
    margin: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: block;
}

/*****************************************************************************
 * Home page - title
 ****************************************************************************/
/* mobile */
.title h1 {
    text-align: center;
    line-height: 100vh;
}
/* tablets */
@media only screen and (min-width: 600px) {
    .title h1 {
        font-size: 250%;
    }
}
/* pc */
@media only screen and (min-width: 768px) {
    .title h1 {
        font-size: 400%;
    }
}

/*****************************************************************************
 * Home page - card
 ****************************************************************************/
/* mobile */
.card {
    background-color: white;
    color: black;
}
.card h1 {
    font-size: 150%;
    color: inherit;
    text-align: center;
    margin: 30px 0 10px 0;
}
.card p {
    color: inherit;
    font-size: 100%;
    padding: 0 20px 0 20px;
}
/* tablets */
@media only screen and (min-width: 600px) {
    .card h1 {
        /* TODO add tablet .description h1 */
    }
    .card p {
        /* TODO add tablet .description p */
    }
}
/* pc */
@media only screen and (min-width: 600px) {
    .card h1 {
        /* TODO add tablet .description h1 */
    }
    .card p {
        /* TODO add tablet .description p */
    }
}

/*****************************************************************************
 * Home page - huischborrel
 ****************************************************************************/
.huischborrel p {
    width: 100%;
    font-size: xx-large;
    text-align: center;
    padding: 20px;
}
/* tablets */
@media only screen and (min-width: 600px) {
    .huischborrel p {
        font-size: 200%;
    }
}
/* pc */
@media only screen and (min-width: 768px) {
    .huischborrel p {
        font-size: 400%;
    }
}


/*****************************************************************************
 * Home page - instemming
 ****************************************************************************/
.instemming {}
/**
 * Home page - box 1 h1
 */
h1.name {
    text-align: center;
    line-height: 100vh;
    /* font-size: 600%; */
    /* color: white; */
}
@media only screen and (min-width: 600px) {
    h1.name {
        font-size: 250%;
    }
}
@media only screen and (min-width: 768px) {
    h1.name {
        font-size: 400%;
    }
}

#card-1 {
    background-image: url("../img/bolkhuisch_tulpen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/**
 * paralax scrolling 
 */
#card-1 {
    position: fixed;
    top:0;
    left:0;
    z-index: -10;
}

#card-2 {
    position: absolute;
    top: 0;
}

/* card 3, ook wel timer */
#card-3 {
    background-image: url("../img/huischweekend-coo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: -9;
}

#card-3-2 {
    background-image: url("../img/dakterras-bbq-nov-2019_small.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: -8;
}

#card-3-8 {
    position: absolute;
    top: 0;
}

.box-2 {
    width: 100%;
    height: 100%;
    position: relative;
}

.box-3 {
    width: 100%;
    height: 100%;
    position: relative;
}

#card-4 {
    /* background-image: url("../img/dakterras-bbq-nov-2019_small.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}