@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

/* parallax backgrounds for background cards */
.bgcard {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/* Turn off parallax for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgcard {
      background-attachment: scroll;
    }
  }

/* background images */
#bgcard-1 {
    background-image: url("../img/bolkhuisch_tulpen.jpg");
    height: 100vh;
}

#bgcard-2 {
    background-image: linear-gradient(
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
            ),
            url("../img/huischweekend-coo.jpg");
    min-height: 50vh;
}

#bgcard-3 {
    background-image: url("../img/dakterras-bbq-nov-2019_small.jpg");
    height: 100vh;
}

/* headers */
h1 {
    text-align: center;
}

.bgcard-title h1 {
    line-height: 100vh;
    font-size: 32px;
}
@media only screen and (min-width: 1024px) {
    .bgcard-title h1 {
        font-size: 72px;
    }
}

/* cards and card-wrappers */
.card-wrapper {
    max-width: 1024px;
    margin: auto;
}
/* @media only screen and (min-width: 1024px) {
    .card-wrapper {
        max-width: 1024px;
        margin: auto;
    }
} */

.card {
    color: black;
}

/* card-1 */
#card-1, #card-2 {
    background-color: white;
}
#card-1 h1, #card-1 p, #card-2 h1, #card-2 p {
    color: black;
}
#card-1 h1, #card-2 h1, #bgcard-2 h1 {
    padding: 12px;
}
#card-1 p, #card-2 p {
    padding: 12px;
    padding-bottom: 24px;
}
@media only screen and (min-width: 1024px) {
    #card-1 h1, #card-2 h1, #bgcard-2 h1 {
        font-size: 72px;
    }
    #card-1 p, #card-2 p {
        font-size: 24px;
        /* padding: 12px 15%; */
        margin-bottom: 24px;
    }
}

/* link markup */
a {
    color: forestgreen;
}
a:hover {
    color: yellowgreen;
}

u {
    color: inherit;
}

/* huischborrel */
#huischborrel-placeholder {
    font-size: 24px;
    font-weight: bold;
}

p#huisch-borrel {
    font-size: 24px;
    font-weight: bold;
    padding: 12px;
}

.huisch-borrel span.number {
    width: 35%;
    font-size: 42px;
    padding: 10%;
    margin-left: calc(25%/2.5);
    margin-bottom: 24px;
    text-align: center;
    display: block;
    float: left;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10%;
    font-weight: bolder;    
}
@media only screen and (min-width: 1024px) {
    .huisch-borrel span.number {
        font-size: 64px;
    }
}

.huisch-borrel span.text {
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
}
@media only screen and (min-width: 1024px) {
    .huisch-borrel span.text {
        font-size: 42px;
    }
}

.huisch-borrel::after {
    content: "";
    clear: both;
    display: table;
}

#borrel-tijd {
    display: block;
    width: 100%;
    text-align: left;
    padding: 24px;
    font-size: 36px;
}

.geenBorrel{
    display: none;
}